 
{% block content %}
	<br>
   <h2>foem</h2>
	<form method="post" >
		{% csrf_token %}
		{{ form.as_p}}
		<input type="submit" value="Add Student"><span></span>	  <h2><a href=" ">Student Grade<a></h2>
	</form>
		
 <h1>{{ question.question_text }}</h1>{{ question.Name_of_Faculty.Last_name}}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'Question:vote' question.id %}" method="post">
{% csrf_token %}
{% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
{% endfor %}
<input type="submit" value="Vote" />
</form>
	  
{% endblock %}


